.google-login{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body, h1, h2, h3, p, input, label {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.card-heights{
    height: 25vh;
    justify-content: center;
    transition: 0.3s;
}


/* Style the form container */
.details-flexbox {
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    padding: 1%;
     margin-left:25%;
     margin-right: 22%;
}

/* Style form labels */
label {
    /* margin-bottom: 5px; */
    padding: 10px;
    font-weight: bold;
    width: 10%;
}

/* Style form inputs */
input[type="text"],
input[type="password"] ,input{
    flex: 1;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Style form buttons */
input[type="button"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}
input[type="button"]:hover {
    padding: 10px 25px;
    background-color: #31e369;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
    /* box-shadow: #ccc; */
    
}

/* Style cancel button */
input[type="button"][value="delete"] {
    background-color: #ccc;
}
input[type="button"][value="delete"]:hover {
    background-color: #d23535;
}

/* Center the form */
#user-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input:disabled{
    background-color: rgb(227, 227, 227);
    cursor:not-allowed;
}












/* spinner css */

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #333333aa;
    transition: opacity 0.75s, visibility 0.75s;
  }
  
  .loader--hidden {
    opacity: 0;
    visibility: hidden;
  }
  
  .loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 10px solid #dddddd;
    border-top-color: #517dcf;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
  }
  
  @keyframes loading {
    from {
      transform: rotate(0turn);
    }
    to {
      transform: rotate(1turn);
    }
  }